@import 'tailwindcss';
@import 'tw-animate-css';
@import './fonts.css';
@import './base-component.css';
@import './dark-mode.css';

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --color-evo-white : #F7F7F5;
    --color-evo-black : #040305;
    --color-evo-purple : #7A4896;
    --color-evo-orange : #FF813E;
    --color-evo-gray : #E9E9E9;
}

body {
   @apply font-futura text-evo-black dark:bg-evo-black dark:text-evo-white;
}
.container {
    @apply mx-auto max-w-7xl px-4;
}
